@{
    Layout = "~/Shared/Layouts/_AdminLayout.cshtml";
    Page.Title = "Products";

    var db = Database.Open("MjanjaData");
    var sqlCommand = "SELECT Properties.ProductId, Properties.Title, Categories.CategoryTitle " +
                     "FROM Properties " + 
                     "INNER JOIN Categories ON Properties.Category = Categories.CategoryId " +
                     "ORDER BY title";

    var result = db.Query(sqlCommand);
                    
    var productsGrid = new WebGrid(source: result,
                                    rowsPerPage: 20);

}

<h1>Doctors Summary</h1>
<a href="ProductDetails">Add New Doctor</a>
<div class="grid">
    @productsGrid.GetHtml(
        tableStyle: "grid",
        headerStyle: "gridHeader",
        alternatingRowStyle: "gridAlt",
        footerStyle: "gridFooter",
        columns: productsGrid.Columns(
            productsGrid.Column("ProductId",
                              "Product ID"),
            productsGrid.Column("Title",
                              "Product Title"),
            productsGrid.Column("CategoryTitle",
                              "Category"),
            productsGrid.Column(null,
                              null,
                              format: @<text>
                                          <a href="ProductDetails/@item.ProductId">
                                              Details
                                          </a>
                                      </text>),
            productsGrid.Column(null,
                                null,
                                format: @<text>
                                            <a href="DeleteProduct/@item.ProductId">
                                                Delete
                                            </a>
                                        </text>)
        )
    )
</div>
