@{     
       Layout = "~/Shared/Layouts/_Layout.cshtml";     
       Page.Title = "Welcome"; 
       }  
<h3>Doctors</h3>  
<p>     
  Online Doctors.    
</p><br />
<p>
    Hire a doctor by selecting a Hospital from the left menu which is where they are located.
</p>
<p>
    Kindly note, The Doctor's office will call you upon booking. 
</p>
<ul>
    <!--<li><h3>Comment if not needed</h3></li>
    <li>Business Model, we will take an agreeable commission per consultancy.</li>
    <li> Advertise on any upcoming event, medicine, phamarcy.all at a fee </li>
    <li>Sell data, for patients..... any other emmerging trends<li>-->
</ul> 

