@{     
       Layout = "~/Shared/Layouts/_Layout.cshtml";     
       Page.Title = "Request Complete"; 
       } 
<h1>Request Complete</h1> 
<p>Many thanks for your Booking. It has been recieved succesfully.</p> 
<br /> 
<p>
    Our doctor(s) will get back to you.
</p> 

