<form action="/Search.cshtml" method="post">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandablemdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="searchTerm">
            <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" name="searchTerm" id="searchTerm">
        </div>
    </div>
</form>